<!DOCTYPE html>
<html>
  <head>
    <title>GzHistory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div id="copyright" class="container">
      <p>© 杜容. 版权所有. | Project of <a href="http://durong.net/">Rudy Du</a> | With the help of Dad.</p>
    </div>
  </body>
</html>
